html {
    background-image: url("./img/dungeon.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 1400px;
    opacity: 0.9;
   }

body {
    text-align: center;
    margin-top: 200px;
    color: white;
    font: 15px Helvetica, sans-serif;
    font-size: 21px;
}

label {
    opacity: 0.7;   
}