html { 
	background-color: rgb(232,228,212); 
	color: rgb(232,228,212);
	font-size: large;
	text-align: center;
}

.intro1{
	float: left;
	text-align: center;
	position: relative;
	height: 160px;
	width: 50%;}
	
	.intro2{
	position: absolute;
	margin: auto;}

	.intro3{
	position: absolute;
	margin: auto;}
	
	.middle1{
	position: absolute;
	margin: auto;}
	
	.middle2{
	position: absolute;
	margin: auto;}

	.middle3{
	position: absolute;
	margin: auto;}

	.outro1{
	position: absolute;
	margin: auto;}
		
	.outro2{
	position: absolute;
	margin: auto;}
	
	.outro3{
	position: absolute;
	margin: auto;}
  
